<div style= "text-align: center" >
  <h1>
    <storong>About</storong>
  </h1>

  <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
   お子様からお年寄りの方までお召し上がりいただけるよう、<br>
   様々なバリエーションをご用意しております。<br>
   また、前億へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
   ぜひご注文ください。
   </p>

   <%= image_tag 'cakeshop_image3.jpg', size: '80×80' %>
</div>
