<div class="container">
  <div class="row">
    <div class="col-lg-5" style="background-color: orange;">
      <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。
      </p>
    </div>

      <div class="col-lg-7">
        <%= image_tag 'cakeshop_image1.jpg', width: '60%', height: '100%' %>
      </div>
  </div>
  <div class="row">
    <div>
      新着商品
    </div>
    
    
  </div>
</div>

