<h1>会員詳細</h1>
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
      </tr>
      <tr>
        <th>氏名</th>
      </tr>
      <tr>
        <th>フリガナ</th>
      </tr>
      <tr>
        <th>郵便番号</th>
      </tr>
      <tr>
        <th>住所</th>
      </tr>
      <tr>
        <th>電話番号</th>
      </tr>
      <tr>
        <th>メールアドレス</th>
      </tr>
      <tr>
        <th>会員ステータス</th>
      </tr>
    </thead>
  </table>

  <%= "編集する" %>
  <%= "注文履歴一覧を見る" %>

