<h1>商品一覧</h1>
  <div class = "row">
    <% @items.each do |item| %>
      <div class = "col-md-3">
        <%= link_to public_item_path(item.id) do %>
          <%= image_tag item.image, width:"200px", height:"200px" %><br/>
          <%= item.name %><br/>
          ￥<%= item.price %><br/>
        <% end %>
      </div>
    <% end %>