
  <%= image_tag @item.image, width:"300px", height:"300px" %>
  <table>

      <tr>
        <td>
          <h2>
          <strong>
            <%= @item.name %>
          </strong>
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <%= @item.introduction %>
        </td>
      </tr>
      <tr>
        <td>
          ￥<%= @item.with_tax_price %>（税込）
        </td>
      </tr>

  </table>

